{
  "useTabs": false,
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "semi": true,
  "rcVerbose": true,
  "quoteProps": "consistent"
}
